.container{
	height: 700px;
	width: auto;
	background: #f00;
	background-image: url("../images/pexels-photo-14676.png");
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
	background-size: 100% 100%;
  background-size: cover;
	overflow-y: hidden;
	overflow-x: hidden;

}
#navigation{
	height: auto;
}
button{
	background-color: black;
	border: white;
	color: white;
	text-transform: uppercase;
}
.name{
 color: white;
 text-align: center;
 margin-top: 250px;
}
.title-super{
	font-size: 50px;
	font-family: 'Cabin', sans-serif;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-weight: bold;
	font-style: italic;
}
.nameButton {
    text-align: center;
}

.button {
    position: absolute;
    top: 50%;
}
.nav{
	margin-top:20px;
}
.nav a{

	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 20px;
	text-transform: uppercase;
}
.nav li{
	display: inline;
}
